* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
  font-family: 'Open Sans', sans-serif;
}

footer {
  background-color: black;
}
  
h1 {
  font-size: 70px;
  font-weight: 800;
  color: black;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 22px;
}

.main-title-padding {
  padding-top: 9rem;
}


.large-padding {
  padding-top: 100px;
}

.medium-padding {
  padding-top: 70px;
}

.small-padding {
  padding-top: 30px;
}

.padding-top {
  padding-top: 110px;
}
/* Navbar */
.nav-bar {
  min-width: 100vh;
  min-height: 80px;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
.nav-bar-sx {
  align-items: center;
}

.logo-img {
  width: 100px;
}

.nav-bar-dx {
  align-items: center;
}
.nav-btn {
color: grey;
padding: 5px 15px;
text-decoration: none;
}

.blue-btn {
  color: white;
  background-color: #0061FF;
  text-decoration: none;
}

.btn-padding {
padding: 10px 20px;
}

.margin-3rem {
  margin: 3rem 0;
}
.try-btn-bg {
  min-width: 100%;
  background-color: transparent;
  display: flex;
}

.bottone {
  background-color: #ff1c1c;
  color: #F5F5F5;
  min-width: 100%;
}

.try-btn {
  color: white;
  background-color: #0061FF;
  text-decoration: none;
  flex-grow: 1;
  text-align: center;
  padding: 1rem 0;
}

.banner-try-btn {
  color: black;
  background-color: white;
  text-decoration: none;
  flex-grow: 1;
  text-align: center;
  padding: 1rem 0;
}

.try-btn-padding {
  padding: 3rem 0;
  text-align: center;
}



/* Main */
.section {
  padding: 50px 0;
}

.bg-blue {
  background-color: #B4D0E7;
}


.container {
  max-width: 960px;
  margin: 0 auto;
}

.container.large {
  max-width: 1200px;
}

.row {
  display: flex;
}


.row .column {
  flex-grow: 1;
}


.row .colonna {
  flex-grow: 1;
  flex-basis: 0;
}


.padding-2rem {
  padding-top: 2rem;
}

.padding-4rem {
  padding-top: 4rem;
}

.gap-2 {
  gap: 2rem;
}

.gap-12 {
  gap: 12rem;
}
.gap-8px {
  gap: 8px;
}

.icon-position {
  position: relative;
  top: 3px;
}
.col-card {
  border: 2px solid rgba(128, 128, 128, 0.185);
  min-height: 100%;
}

.col-content {
  padding: 2rem 1.8rem;

}

.content-1x {
  padding-bottom: 4rem;
}

.content-2 {
  min-height: 270px;
  padding-top: 2.5rem;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 0.8rem 0;
}

.blue-color {
  color: #6362f2;
}



.title-padding {
  padding-bottom: 1.8rem;
}

.text-padding {
  padding-bottom: 0.8rem;
}

.small-hr {
  margin-top: 3rem;
  margin-bottom: 4rem;
  max-width: 60px;
}

.contact-btn-bg {
  max-width: 100%;
  background-color: #0061FF;
}

.team-content {
  justify-content: space-between;
  align-items: baseline;
  gap: 3rem;
}
.team-big-col{
  flex-basis: 70%;
}
.team-small-col {
  flex-basis: 30%;
}



.row .big-col {
  flex-basis: 57%;
}

.row .small-col {
  flex-basis: 30%;
}

.card.jumbotron {
  max-width: 380px;
}

.jumbotron .card-content {
  margin-bottom: 40px;
}

.jumbo-img {
  max-width: 100%;
  position: relative;
  top: 75px;
}

.grey-border {
  border: 2px solid rgba(128, 128, 128, 0.185);
}

.card-title {
  min-width: 100%;
  text-align: center;
  border-bottom: 2px solid rgba(128, 128, 128, 0.185);
  padding: 10px 0;
}

.pad-50px {
  padding: 50px 0;
}

.pad-bot-1rem {
  padding-bottom: 1rem;
}


.small-border {
  border-bottom: 2px solid rgba(128, 128, 128, 0.185);
}



img {
  max-width: 100%;
}



.flex {
  display: flex;
}
.wrap {
  flex-wrap: wrap;
}

.inline-block {
  display: inline-block;
}

.margin {
  margin-top: 35px;
  margin-bottom: 35px;
}


.col-title {
  min-width: 100%;
}

.team {
  border: 1px solid grey;
  max-width: 100%;
  max-height: 100px;
}
.contenitore {
  max-width: 900px;
  margin: 0 auto;
  border: 1px dashed red;
  margin-bottom: 80px;
}


.card .finale{
  min-width: 50%;
} 


.faq-big-col {
  flex-basis: 90%;
  padding: 2rem 0;
}

.faq-small-col {
  flex-basis: 10%;
  padding: 2rem 2.5rem 2rem 0;
  text-align: end;
}

.flex-space-betw {
  justify-content: space-between;
}
.bg-black {
  background-color: black;
}




footer {
  color: white;
}

.footer-list {
  padding: 0.4rem 0;
}

/* Loghi quadrati */

.col {
  flex-grow: 1;
  flex-basis: auto;
}
.central-col {
  padding: 2rem;
  aspect-ratio: 1/1;
  overflow: auto;
}

.central-col-img {
  max-width: 50%;
}

.square-container {
  display: flex;
  flex-wrap: wrap;
}

.square {
  width: 50%;
  aspect-ratio: 1/1;
  background-color: #F5F5F5;
  display: flex;
  justify-content: center;
}

.square-img {
  filter: invert(1);
  width: 60%;
  object-fit: contain;
}

.bg-green {
  background-color: #a2d39b;
}

.bg-darkred {
  background-color: #61082b;
}

.bg-lightblue {
  background-color: #0093ce;
}

.bg-flashred {
  background-color: #ff1c1c;
}



.bg-red {
  background-color: #d5001f;
}

.bg-lightgrey {
  background-color: #b4d0e7;
}

.bg-marineblue {
  background-color: #0d2481;
}

.bg-yellow {
  background-color: #ffd830;
}

/* Domande frequenti */

