k* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
  font-family: 'Open Sans', sans-serif;
}

footer {
  background-color: black;
}
  
h1 {
  font-size: 70px;
  font-weight: 800;
  color: black;
}
/* Navbar */
.nav-bar {
  min-width: 100vh;
  max-height: 45px;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.nav-bar-sx {
  border: 3px dashed red;
  align-items: center;
}

.logo-img {
  width: 100px;
}

.nav-bar-dx {
  border: 3px dashed red;
  align-items: center;
}
.nav-btn {
color: grey;
padding: 5px 10px;
border: 2px solid black;
text-decoration: none;
}

.nav-btn.blue-btn {
  color: white;
  background-color: #0061FF;
}



/* Main */
.section {
  padding: 50px;
}

.bg-blue {
  background-color: #B4D0E7;
}

.large-padding {
  padding-top: 100px;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

.container.large {
  max-width: 1200px;
}

.row {
  display: flex;
}

.gap {
  gap: 2.5rem;
}

.gap-2 {
  gap: 2rem;
}

.row .colonna {
  flex-grow: 1;
  flex-basis: 0;
}

.row .big-col {
  flex-basis: 60%;
}

.row .small-col {
  flex-basis: 40%;
}

.card {
  max-width: 380px;
}

.card-content {
  margin-bottom: 40px;
}


.flex {
  display: flex;
}
.wrap {
  flex-wrap: wrap;
}

.in-block {
  display: inline-block;
}

.margin {
  margin-top: 35px;
  margin-bottom: 35px;
}


.col-title {
  min-width: 100%;
}

.jumbo-img {
  max-width: 555px;
}

.card-title {
  border-bottom: 1px solid grey;
  max-width: 30px;
  max-height: 100%;
  color: black;
  text-align: center;
}

.team {
  border: 1px solid grey;
  max-width: 100%;
  max-height: 100px;
}
.contenitore {
  max-width: 900px;
  margin: 0 auto;
  border: 1px dashed red;
  margin-bottom: 80px;
}
.row .col-3 {
  flex-basis: calc(33.3% - 2rem);
}


.card .finale{
  min-width: 50%;
} 

.small-hr {
  max-width: 60px;
}